{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lobby.css') }}">

<div class="lobby-container">
  <h1 class="lobby-title">Lobby</h1>
  <div class="lobby-grid">
    <div class="lobby-card">
      <h3>Create a new game to play with a friend</h3>
      <form action="{{url_for('create_game_page')}}" method="POST">
          <input type="submit" class="btn btn-secondary" value="Create Game">
      </form>
    </div>

    <div class="lobby-card">
      <h3>Join a friend's game</h3>
      <form action="{{url_for('join_game_page')}}" method="POST" id="join-form">
        <input type="text" name="player_room_id" id="player_room_btn" placeholder="TYPE ROOM ID" form="join-form">
        <input type="submit" class="btn btn-secondary" value="Join Friend's Game" form="join-form">
      </form>
    </div>

    <div class="lobby-card">
      <h3>Play vs online random player</h3>
      <form action="{{url_for('create_random_game_page')}}" method="POST">
          <input type="submit" class="btn btn-secondary" value="Play vs Random Player">
      </form>
    </div>

    <div class="lobby-card">
      <h3>Play vs Artificial Intelligence</h3>
      <form action="{{url_for('create_maria_game_page')}}" method="POST">
          <input type="submit" class="btn btn-secondary" value="Play vs AI">
      </form>
    </div>
  </div>
</div>

{% endblock content %}
