{% extends "layout.html" %}
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">-->
{% block content %}
    <div class="lobby">
      <h1>Lobby</h1>
        <div class="col-md-6">
          <div>Create a new game to play with a friend</div>
          <div>
            <form action="{{url_for('create_game_page')}}" method="POST">
                <input type="submit" class="btn btn-secondary" value="Create Game">
            </form>

          </div>

        </div>

<!--        <div class="col-md-6">-->
<!--          <div>Play vs Computer AI MarIA</div>-->
<!--          <div>-->
<!--            <button type="submit" id="play_maria_btn" class="btn btn-primary">Play vs MarIA</button>-->
<!--          </div>-->

<!--        </div>-->

        <div class="col-md-6">
          <div>Join a friend game</div>
          <form action="{{url_for('join_game_page')}}" method="POST" id="join-form">
             <input type="text" name="player_room_id" id="room_id" placeholder="TYPE ROOM ID" form="join-form">
             <input type="submit" class="btn btn-secondary" value="Join Friend Game" form="join-form">
          </form>

        </div>

<!--        <div class="col-md-6">-->
<!--          <div>Play vs online random player</div>-->
<!--          <div>-->
<!--            <button type="submit" id="play_random_plyer_btn" class="btn btn-primary">Play vs Random Player</button>-->
<!--          </div>-->

<!--        </div>-->

      </div>

    <div id="message">

    </div>

      <!-- Create a variable named username where we take the username from the backend. -->
<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>-->

<!--      <script type="text/javascript">-->
<!--        // const username = `{{ username }}`;-->
<!--      </script>-->
      
<!--      <script src="{{ url_for('static', filename='socketio.js') }}"></script>-->
{% endblock content %}